<ion-view view-title="Havengram">
    
<ion-content>
<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Haven App</h2>
    <p>This is where the magic happens</p>
  </div>

  <div class="item item-image">
    <img src="img/page.png">
  </div>

  <a class="item item-icon-left assertive" href="/app/index#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>     
<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Haven App</h2>
    <p>This is where the magic happens</p>
  </div>

  <div class="item item-image">
    <img src="img/page.png">
  </div>

  <a class="item item-icon-left assertive" href="/app/index#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>     
    
<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Haven App</h2>
    <p>This is where the magic happens</p>
  </div>

  <div class="item item-image">
    <img src="img/page.png">
  </div>

  <a class="item item-icon-left assertive" href="/app/index#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>         
</ion-content>

        
</ion-view>
